.about {
	&__item {
		display: grid;
		row-gap: 16px;
		
		padding: 2.25rem 0 ;

		@include desktop-up {
			grid-template-columns: 5fr 4fr;
			align-items: center;
			column-gap: 3rem;
		}
		&:last-child {
			padding-bottom: 4.5rem;
		}
	}
	
	&__item--dynamic {
		@include desktop-up {
			grid-template-columns: 4fr 5fr;
		}
	}

	&__img {
		height: 300px;
		@include desktop-up {
			height: 425px;
		}
	}
}