.blog__wrapper {
    .title-5, p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .title-5 {
        -webkit-line-clamp: 2;
    }
    p{
        -webkit-line-clamp: 3;
    }
}