.collection {
  &__wrapper {
    display: grid;
    row-gap: 4rem;

    @include desktop-up {
      row-gap: 6rem;
    }
  }
  
  &__item {
    background: $grey-2;
    padding: 1rem;
    box-sizing: border-box;
    img {
      display: flex;
  
      margin: auto;
      object-fit: contain;
      height: 150px;
      @include desktop-up {
        height: 270px;
      }
    }
  }
}