.faq {
  &__wrapper {
    display: grid;
    row-gap: 1.5rem;

    @include desktop-up {
      grid-template-columns: 2fr 1fr;
      column-gap: 1.5rem;
      align-items: start;
    }
  }
  
  &__form {
    display: grid;
    row-gap: 1rem;

    @include desktop-up {
      position: sticky;
      top: calc(70px + 1rem); //height of nav + whitespace
    }
  }
}