// Collection Home
.collection-home__item {
	img {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 160px;
		object-fit: cover;
	}
}

.collection__card {
	p {
		position: relative;
	
		width: max-content;
	
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 1px;
	
			width: 0;
			height: 2px;
			background-color: $gold;
			border-radius: 1px;
			
			transition: width 0.25s ease-out;
		}
	}
	&:hover p::before {
		content: '';
		width: 75%;
	}
}

// Featured Product
.featured-main {
	position: sticky;
	top: 0;
}

// Testimonials
.testimonials {
	&__header img {
		@include square(60px, $radius: 50%);
	}
}

