/*-------------------------------------------*\ 
Banner
\*-------------------------------------------*/
.banner {
	&__section {
		position: relative;
		padding-top: 3rem;
		padding-bottom: 3rem;
		height: 850px;
		background: url("../image/banner-bg-mobile.png") no-repeat;
		background-position: right;
		background-size: cover;

		@include desktop-up {
			display: grid;
			grid-template-columns: 4fr 5fr;
			align-items: start;
		}
	}

	&__text {
		position: sticky;
		top: 5vh;
		z-index: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 100%;
		height: 90vh;
	}

	&-img {
		position: absolute;

		background-color: $grey-1;
		box-shadow: 0px 4px 4px rgba($color: #B2A9A2, $alpha: 0.25);
	}

	&-img__1 {
		top: 1rem;
		left: 1rem;

		height: 200px;
		width: 145px;
	}

	&-img__2 {
		right: 1rem;
		top: 120px;

		height: 140px;
		width: 105px;
	}
	&-img__3 {
		bottom: 1rem;
		right: 1rem;

		height: 180px;
		width: 135px;
	}

	&-img__4 {
		right: 20px;
		bottom: 140px;
		transform: translateX(-50%);

		height: 140px;
		width: 160px;
	}

	&-img__5 {
		top: 50%;
		right: 70px;

		transform: translateY(-50%);
		@include square(54px, $radius: 0);
	}
}
/*-------------------------------------------*\ 
About
\*-------------------------------------------*/
.about {
	&__section {
		overflow: hidden;
		@include desktop-up {
			display: grid;
			align-items: center;
			justify-content: center;

			min-height: 40vh;

			padding-top: 2rem;
			padding-bottom: 2rem;
			box-sizing: border-box;
		}
	}

	&-title {
		font-family: "Prata", serif;
		@include font-size(5rem, 6.25rem); //80px, 100px
		color: rgba($color: $black-1, $alpha: 0.1);
		line-height: normal;
		
		@include desktop-up {
			position: absolute;
		}

		&--left {
			@include desktop-up {
				top: 1rem;
			}
		}

		&--right {
			@include desktop-up {
				bottom: 1rem;
				right: 0;
			}
		}
	}
}

/*-------------------------------------------*\ 
Collection
\*-------------------------------------------*/
.collection-home {
	&__section {
		padding-top: 3.5rem;
		padding-bottom: 4.5rem;
	}

	&__item img {
		height: 160px;
		object-fit: cover;
	}
}

/*-------------------------------------------*\ 
Trust
\*-------------------------------------------*/
.trust {
	&__section {
		display: grid;
		row-gap: 1rem;
	
		padding-top: 4rem;
		padding-bottom: 4rem;

		grid-template-areas:
		"header"
		"img"
		"left"
		"right"
		;

		@include desktop-up {
			grid-template-areas:
			"header"
			"img"
			"left"
			"right"
			;
			row-gap: 2rem;
			column-gap: 5%;
			align-items: center;
		}
	}

	&__header { grid-area: header; }
	&__left { grid-area: left; }
	&__right { grid-area: right; }

	&__img { 
		grid-area: img;
		@include desktop-up {
			height: 450px;
		}
	}
}

/*-------------------------------------------*\ 
Video
\*-------------------------------------------*/
.video {
	&__section {
		background-color: rgba($color: #000000, $alpha: 0.5);
		min-height: 530px;
		
		@include desktop-up {
			min-height: 450px;
		}
	}
}
/*-------------------------------------------*\ 
Featured
\*-------------------------------------------*/
.featured {
	&__section {
		position: relative;

		display: grid;
		grid-template-areas:
		"title"
		"main"
		"product-list";
		@include desktop-up {
			grid-template-areas:
			"title title"
			"main product-list"
			;
			grid-template-columns: 1fr 2fr;
			column-gap: 3%;
		}
	}

	&__main {
		grid-area: main;
	}

	&__title { grid-area: title; }
	&__wrapper { grid-area: product-list; }
	&__content {
		@include desktop-up {
			position: sticky;
			top: 0;
		}
	}

	&__text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba(239,229,219, 0.5);
		padding: 1rem;
	}
}
/*-------------------------------------------*\ 
Testimonials
\*-------------------------------------------*/
.testimonials {
	&__section {
		padding-top: 3rem;
		padding-bottom: 4rem;
		
		.splide__track {
			margin-bottom: 2rem;
		}
	}

	&__header img {
		@include square(60px, $radius: 50%);
	}
}

  
/*-------------------------------------------*\ 
Hotspot
\*-------------------------------------------*/
.hotspot {
	&__section {
		display: grid;
		row-gap: 2rem;
		grid-template-areas:
		"header"
		"banner"
		"card";

		padding-top: 3rem;
		padding-bottom: 2rem;

		@include desktop-up {
			grid-template-areas:
			"banner header"
			"banner card"
			;
			grid-template-columns: 5fr 3fr;
			column-gap: 3%;
			align-items: start;

			padding-top: 5.75rem;
			padding-bottom: 5.75rem;
		}

		@include monitor-up {
			grid-template-columns: 6.5fr 2.5fr;
		}
	}

	&__header {
		grid-area: header;
		* { text-align: center; }
	}

	&__banner {
		grid-area: banner;
		height: 235px;
		border-radius: 8px;
		overflow: hidden;

		@include desktop-up {
			height: 500px;
		}

		@include monitor-up {
			height: 625px;
		}
	}

	&__card {
		grid-area: card;
	}
}