/*-------------------------------------------*\ 
Banner
\*-------------------------------------------*/
.banner {
	&__section {
		min-height: 360px;
		padding-top: 3rem;
		padding-bottom: 3rem;

		@include desktop-up {
			display: grid;
			grid-template-columns: 4fr 5fr;
			align-items: start;
		}
	}

	&-img {
		background-color: $grey-1;
		box-shadow: 0px 4px 4px rgba($color: #B2A9A2, $alpha: 0.25);
	}

	&-img__1 {
		height: 150px;
		width: 110px;
	}
	&-img__2 {
		height: 140px;
		width: 105px;
	}
	&-img__3 {
		height: 180px;
		width: 135px;
	}
	&-img__4 {
		height: 140px;
		width: 160px;
	}

	&-img__5 {
		@include square(54px, $radius: 0);
	}
}
/*-------------------------------------------*\ 
About
\*-------------------------------------------*/
.about {
	&__section {
		min-height: 475px;
		overflow: hidden;
	}

	&-title {
		font-family: "Prata", serif;
		@include font-size(5.25rem, 6.25rem); //84px, 100px
		line-height: normal;
		color: rgba($color: #000000, $alpha: 0.2);
	}
}

/*-------------------------------------------*\ 
Collection
\*-------------------------------------------*/
.collection-home {
	&__section {
		padding-top: 3.5rem;
		padding-bottom: 4.5rem;
	}

	&__item img {
		height: 160px;
		object-fit: cover;
	}
}

/*-------------------------------------------*\ 
Trust
\*-------------------------------------------*/
.trust {
	&__section {
		display: grid;
		row-gap: 1rem;
	
		padding-top: 4rem;
		padding-bottom: 4rem;

		grid-template-areas:
		"header"
		"img"
		"left"
		"right"
		;

		@include desktop-up {
			grid-template-areas:
			"header"
			"img"
			"left"
			"right"
			;
			row-gap: 2rem;
			column-gap: 5%;
			align-items: center;
		}
	}

	&__header { grid-area: header; }
	&__left { grid-area: left; }
	&__right { grid-area: right; }

	&__img { 
		grid-area: img;
		@include desktop-up {
			height: 450px;
		}
	}
}

/*-------------------------------------------*\ 
Video
\*-------------------------------------------*/
.video {
	&__section {
		background-color: rgba($color: #000000, $alpha: 0.5);
		min-height: 530px;
		
		@include desktop-up {
			min-height: 450px;
		}
	}
}
/*-------------------------------------------*\ 
Featured
\*-------------------------------------------*/
.featured {
	&__section {
		position: relative;

		display: grid;
		grid-template-areas:
		"title"
		"main"
		"product-list";
		@include desktop-up {
			grid-template-areas:
			"title title"
			"main product-list"
			;
			grid-template-columns: 1fr 2fr;
			column-gap: 3%;
		}
	}

	&__main {
		grid-area: main;
	}

	&__title { grid-area: title; }
	&__wrapper { grid-area: product-list; }
	&__content {
		@include desktop-up {
			position: sticky;
			top: 0;
		}
	}

	&__text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba(239,229,219, 0.5);
		padding: 1rem;
	}
}
/*-------------------------------------------*\ 
Testimonials
\*-------------------------------------------*/
.testimonials {
	&__section {
		padding-top: 3rem;
		padding-bottom: 4rem;
		
		.splide__track {
			margin-bottom: 2rem;
		}
	}

	&__header img {
		@include square(60px, $radius: 50%);
	}
}

  
/*-------------------------------------------*\ 
Hotspot
\*-------------------------------------------*/
.hotspot {
	&__section {
		display: grid;
		row-gap: 2rem;
		grid-template-areas:
		"header"
		"banner"
		"card";

		padding-top: 3rem;
		padding-bottom: 2rem;

		@include desktop-up {
			grid-template-areas:
			"banner header"
			"banner card"
			;
			grid-template-columns: 5fr 3fr;
			column-gap: 3%;
			align-items: start;

			padding-top: 5.75rem;
			padding-bottom: 5.75rem;
		}

		@include monitor-up {
			grid-template-columns: 6.5fr 2.5fr;
		}
	}

	&__header {
		grid-area: header;
		* { text-align: center; }
	}

	&__banner {
		grid-area: banner;
		height: 235px;
		border-radius: 8px;
		overflow: hidden;

		@include desktop-up {
			height: 500px;
		}

		@include monitor-up {
			height: 625px;
		}
	}

	&__card {
		grid-area: card;
	}
}