.product-list {
	&__section {
		display: grid;
		row-gap: 2rem;
	}

	&__wrapper {
		display: grid;
		row-gap: 1rem;

		@include desktop-up {
			grid-template-columns: 1.5fr 7.5fr;
			align-items: start;

			cursor: pointer;
		}
	}

	&__left {
		display: grid;
		
		@include desktop-up {
			position: sticky;
			top: 0;
			
			display: grid;
			row-gap: 32px;
		}
		a {
			position: relative;
			width: max-content;
		}
	}
}

.product {
	&__img {
		position: relative;
		
		background-color: $grey-2;
		border-radius: 8px;
		height: 175px;

		overflow: hidden;
		
		@include desktop-up {
			height: 315px;
		}

		.chips {
			position: absolute;
			right: 10px;
			top: 10px;
		}

		&--home {
			@include desktop-up {
				height: 280px;
			}

			@include monitor-up {
				height: 315px;
			}
		}
	}
}

.product-more {
	backdrop-filter: blur(12px);
}