.product-list {
	&__section {
		display: grid;
		row-gap: 2rem;
	}

	&__wrapper {
		display: grid;
		row-gap: 1rem;

		@include desktop-up {
			grid-template-columns: 1.5fr 7.5fr;
			align-items: start;

			cursor: pointer;
		}
	}
}