.bg-purple-50 { background-color: $purple-50; }
.bg-purple-100 { background-color: $purple-100; }
.bg-purple-200 { background-color: $purple-200; }
.bg-cream-2 { background-color: $cream-2; }
.bg-transparent { background-color: transparent; }
.bg-black-2 { background-color: $black-2; }
