.bg-purple-50 { background-color: $purple-50; }
.bg-purple-100 { background-color: $purple-100; }
.bg-purple-200 { background-color: $purple-200; }
.bg-cream-2 { background-color: $cream-2; }
.bg-cream-3 { background-color: $cream-3; }
.bg-grey-3 { background-color: $grey-3; }
.bg-gold { background-color: $gold; }

.bg-transparent { background-color: transparent; }
.bg-black-2 { background-color: $black-2; }
