html {
	scroll-behavior: smooth;
}
 
body { 
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	// background-color: $white;
}

footer {
	margin-top: auto !important; //footer can stay on the bottom when content is little
}
 
.mobile-only {
	@include desktop-up {
		display: none !important;
	}
}
 
.desktop-only {
	display: none !important;

	@include desktop-up {
		display: block !important;
	}
}
 
a {
	text-decoration: none;
}

.section__wrapper {
	@include desktop-up {
		box-sizing: border-box;
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
	}
}

.section__padding {
	// padding: 3rem 5%;
  padding-left: 1rem;
  padding-right: 1rem;

  @include desktop-up {
		padding-left: 3%;
		padding-right: 3%;
	}

	@include monitor-up {
		padding-left: 5rem;
		padding-right: 5rem;
  }

  &--big {
	@include monitor-up {
		padding-left: 7.5rem;
		padding-right: 7.5rem;
	}
  }
}

.section__padding__mobile {
  padding-left: 5%;
  padding-right: 5%;

  @include desktop-up {
	padding-left: 0;
	padding-right: 0;
  }
}

.section__padding__desktop {
	padding-left: 0;
	padding-right: 0;

	@include desktop-up {
		padding-left: 5rem;
    	padding-right: 5rem;
	}
  }

  .object-fit-cover {
	object-fit: cover;
  }

  .hide-input {
	@include square(0.1px, $radius: 0);
	opacity: 0;
  }