/*-------------------------------------------*\ 
Font size
\*-------------------------------------------*/

:root {
  font-size: 100%; //16px
}

.title-1, .title-2, .title-3, .title-4, .title-5, .title-6 {
	font-family: "Prata", serif;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
}

*, p, div, a, span, li {
	font-family: "Poppins", sans-serif;
	@include font-size(0.9375rem, 0.9375rem); //15px, 16px
	line-height: normal;
}

a {
	color: inherit;
}
.heading-1, .heading-2, .heading-3, .heading-4 {
	font-family: "Poppins", sans-serif;
}

.heading-1 {
	@include font-size(2rem, 2.625rem); // 32px, 42px
}

.heading-2 {
	@include font-size(1.5rem, 2.25rem); //24px, 36px
}

.heading-3 {
	@include font-size(1.5rem, 1.875rem); //24px, 30px
	line-height: 120%;

	@include desktop-up {
		line-height: normal;
	}
}

.heading-4 {
	@include font-size(1.25rem, 1.5rem); //20px, 24px
	line-height: 120%;

	@include desktop-up {
		line-height: normal;
	}
}
.title-1 {
	@include font-size(2rem, 3.75rem); //32px 60px
}

.title-2 { 
	@include font-size(2rem, 2.625rem); //32px, 42px
 }

.title-3 { 
	@include font-size(1.75rem, 2.25rem); //28px, 36px
 }

.title-4 {
	@include font-size(1.5rem, 1.875rem) //24px 30px
}

.title-5 {
	@include font-size(1.5rem, 1.5rem) //24px 24px
}

.subtitle {
	@include font-size(1rem, 1.125rem); //16px, 18px
}

 .label {
	@include font-size(0.875rem) //14px
 }

.small {
	font-family: "Poppins", sans-serif;
	@include font-size(0.75rem); //12px
	line-height: normal;
}

.company-title {
	font-family: "Rufina", serif;
	@include font-size(1.5rem, 1.5rem); //24px
	line-height: 160%;
	font-size: 700;
}

/*-------------------------------------------*\ 
Color
\*-------------------------------------------*/
.text-light-dark { color: $light-dark; }
.text-grey-4 { color: $grey-4; }
.text-black { color: $black-2; }
.text-gold { color: $gold; }
.text-red { color: $red-1; }
.text-white { color: $white; }

/*-------------------------------------------*\ 
Font Weight
\*-------------------------------------------*/

.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }

/*-------------------------------------------*\ 
Text Align
\*-------------------------------------------*/

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*-------------------------------------------*\ 
Text Decoration
\*-------------------------------------------*/

.underline { text-decoration: underline; }
.overline { text-decoration: overline; }
.line-through { text-decoration: line-through; }
.none { text-decoration: none; }

/*-------------------------------------------*\ 
List Style
\*-------------------------------------------*/

.list-disc { list-style-type: disc; }
.list-decimal { list-style-type: decimal; }
.list-none { list-style-type: none; }
.list-lower-alpha { list-style-type: lower-alpha; }

.list-outside { list-style-position: outside; }
.list-inside { list-style-position: inside; }