.rg-8px {
	row-gap: 8px;
}

.rg-10px {
	row-gap: 10px;
}

.rg-16px {
	row-gap: 1rem;
}

.rg-18px {
	row-gap: 1.25rem;
}

.rg-24px {
	row-gap: 1.5rem;
}

.rg-32px {
	row-gap: 2rem;
}

.rg-lg-32px {
	@include desktop-up {
		row-gap: 2rem;
	}
}	

.rg-84px {
	row-gap: 5.25rem;
}

.rg-dynamic {
	row-gap: 1.5rem;

	@include desktop-up {
		row-gap: 3rem;
	}
}

.cg-4px {
	column-gap: 4px;
}

.cg-8px {
	column-gap: 8px;
}

.cg-10px {
	column-gap: 10px;
}

.cg-16px {
	column-gap: 1rem;
}

.cg-24px {
	column-gap: 1.5rem;
}

.cg-32px {
	column-gap: 2rem;
}

.cg-sm-16px {
	column-gap: 1rem;
}

.cg-lg-32px {
	@include desktop-up {
		column-gap: 2rem;
	}
}

.order-sm-1-lg-2 {
	order: 1;
	@include desktop-up {
		order: 2;
	}
}

.order-sm-2-lg-1 {
	order: 2;
	@include desktop-up {
		order: 1;
	}
}

.cols-sm-2 {
	grid-template-columns: repeat(2,minmax(0,1fr));
}

.cols-lg-2 {
	@include desktop-up {
		grid-template-columns: repeat(2,minmax(0,1fr));
	}
}

.cols-lg-3 {
	@include desktop-up {
		grid-template-columns: repeat(3,minmax(0,1fr));
	}
}

.cols-lg-4 {
	@include desktop-up {
		grid-template-columns: repeat(4,minmax(0,1fr));
	}
}

.cols-lg-6 {
	@include desktop-up {
		grid-template-columns: repeat(6,minmax(0,1fr));
	}
}