/*-------------------------------------------*\ 
Responsive mixins
\*-------------------------------------------*/
/*-------------------------------------------*\ 
Sizes
\*-------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

footer {
  margin-top: auto !important;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

.desktop-only {
  display: none !important;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block !important;
  }
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .section__wrapper {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

.section__padding {
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 1440px) {
  .section__padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1440px) {
  .section__padding--big {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}

.section__padding__mobile {
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 1024px) {
  .section__padding__mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.section__padding__desktop {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1024px) {
  .section__padding__desktop {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.object-fit-cover {
  object-fit: cover;
}

.bg-purple-50 {
  background-color: #6831E1;
}

.bg-purple-100 {
  background-color: #05010C;
}

.bg-purple-200 {
  background-color: #0B021C;
}

.bg-cream-2 {
  background-color: #F7F4F2;
}

.bg-cream-3 {
  background-color: #EFE5DB;
}

.bg-grey-3 {
  background-color: #F3F3F3;
}

.bg-gold {
  background-color: #CFB885;
}

.bg-transparent {
  background-color: transparent;
}

.bg-black-2 {
  background-color: #39302C;
}

/*-------------------------------------------*\ 
Font size
\*-------------------------------------------*/
:root {
  font-size: 100%;
}

.title-1, .title-2, .title-3, .title-4, .title-5, .title-6 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

*, p, div, a, span, li {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  *, p, div, a, span, li {
    font-size: 0.9375rem;
  }
}

a {
  color: inherit;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Poppins", sans-serif;
}

.heading-1 {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .heading-1 {
    font-size: 2.625rem;
  }
}

.heading-2 {
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .heading-2 {
    font-size: 2.25rem;
  }
}

.heading-3 {
  font-size: 1.5rem;
  line-height: 120%;
}
@media (min-width: 1024px) {
  .heading-3 {
    font-size: 1.875rem;
  }
}
@media (min-width: 1024px) {
  .heading-3 {
    line-height: normal;
  }
}

.heading-4 {
  font-size: 1.25rem;
  line-height: 120%;
}
@media (min-width: 1024px) {
  .heading-4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .heading-4 {
    line-height: normal;
  }
}

.title-1 {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .title-1 {
    font-size: 3.75rem;
  }
}

.title-2 {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .title-2 {
    font-size: 2.625rem;
  }
}

.title-3 {
  font-size: 1.75rem;
}
@media (min-width: 1024px) {
  .title-3 {
    font-size: 2.25rem;
  }
}

.title-4 {
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .title-4 {
    font-size: 1.875rem;
  }
}

.title-5 {
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .title-5 {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .subtitle {
    font-size: 1.125rem;
  }
}

.label {
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .label {
    font-size: 0.875rem;
  }
}

.small {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .small {
    font-size: 0.75rem;
  }
}

.company-title {
  font-family: "Rufina", serif;
  font-size: 1.5rem;
  line-height: 160%;
  font-size: 700;
}
@media (min-width: 1024px) {
  .company-title {
    font-size: 1.5rem;
  }
}

/*-------------------------------------------*\ 
Color
\*-------------------------------------------*/
.text-light-dark {
  color: #958F8F;
}

.text-grey-4 {
  color: #C4C4C4;
}

.text-black {
  color: #39302C;
}

.text-gold {
  color: #CFB885;
}

.text-red {
  color: #E21A3F;
}

.text-white {
  color: #FCFCFC;
}

/*-------------------------------------------*\ 
Font Weight
\*-------------------------------------------*/
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

/*-------------------------------------------*\ 
Text Align
\*-------------------------------------------*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*-------------------------------------------*\ 
Text Decoration
\*-------------------------------------------*/
.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.none {
  text-decoration: none;
}

/*-------------------------------------------*\ 
List Style
\*-------------------------------------------*/
.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.list-none {
  list-style-type: none;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-outside {
  list-style-position: outside;
}

.list-inside {
  list-style-position: inside;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

@media (min-width: 1024px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .w-lg-65 {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .w-lg-50 {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .w-xl-43 {
    width: 43%;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.top-0 {
  top: 0;
}

.top-50 {
  top: 50%;
}

.left-0 {
  left: 0;
}

.left-50 {
  left: 50%;
}

.bottom-0 {
  bottom: 0;
}

.bottom-min-4 {
  bottom: -4px;
}

.right-0 {
  right: 0;
}

.right-50 {
  right: 50%;
}

.transform-translate-x-50 {
  transform: translateX(-50%);
}

.transform-translate-y-50 {
  transform: translateY(-50%);
}

.transform-translate-50 {
  transform: translate(-50%, -50%);
}

.d-grid {
  display: grid;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

@media (min-width: 1024px) {
  .d-block-md {
    display: block;
  }
}

@media (min-width: 1024px) {
  .d-flex-md {
    display: flex;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-8px {
  border-radius: 8px;
}

.rounded-16px {
  border-radius: 16px;
}

.border-light-dark {
  border: 1px solid #958F8F;
}

.opacity-0 {
  opacity: 0;
}

.img-crisp {
  image-rendering: crisp-edges;
}

.img-object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.ml-auto {
  margin-left: auto;
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 4rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=tel],
select,
textarea, .select {
  box-sizing: border-box;
  padding: 10px 12px;
  outline: 1px solid #958F8F;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1024px) {
  input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=tel],
select,
textarea, .select {
    font-size: 1rem;
  }
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=date]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
select::placeholder,
textarea::placeholder, .select::placeholder {
  line-height: 140%;
  color: #958F8F;
  font-weight: 300;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus, .select:focus {
  box-shadow: none;
}

textarea::placeholder {
  font-size: 1rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=date],
select {
  height: 44px;
  width: 100%;
}

select {
  width: max-content;
}

label {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.32px;
}

option {
  font-family: "Inter", sans-serif;
}

select {
  appearance: none;
  background: url("../images/chevron-down-black.svg") no-repeat right;
  background-position: calc(100% - 0.5rem);
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-with-helper {
  position: relative;
}
.input-with-helper .helper {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  font-size: 1rem;
}

nav {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #FCFCFC;
  box-shadow: 0px 2px 0 rgba(57, 48, 44, 0.1);
}

.nav__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
  margin: auto;
}
.nav__wrapper .nav-links {
  position: fixed;
  top: 0;
  left: -100%;
  background: #FCFCFC;
  box-sizing: border-box;
  height: 100vh;
  min-width: 100%;
  max-width: 350px;
  padding: 2.5rem 1rem;
  overflow-y: auto;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .nav__wrapper .nav-links {
    position: unset;
    background: #FCFCFC;
    box-sizing: border-box;
    height: unset;
    min-width: unset;
    max-width: unset;
    padding: 0;
    overflow-y: unset;
    display: inline-flex;
  }
}

.nav-links > li > a, .nav-links span {
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid #222222;
}
@media (min-width: 1024px) {
  .nav-links > li > a, .nav-links span {
    padding: 1rem;
    border-bottom: none;
  }
}

.nav-links .mobile-item {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid #222222;
  transition: all 0.3s ease;
}

.nav-links .drop-menu {
  position: static;
  width: 100%;
  box-sizing: border-box;
  max-height: 0px;
  visibility: visible;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .nav-links .drop-menu {
    position: absolute;
    background: #FCFCFC;
    width: 180px;
    max-height: unset;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
}
.nav-links .drop-menu a {
  display: block;
  padding: 1rem;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 65px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .mega-box {
    display: grid;
    row-gap: 1.5rem;
    padding: 0 20px;
    max-height: 0px;
    box-sizing: border-box;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all 0.3s ease;
  }
}
@media (min-width: 1024px) {
  .mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    align-items: start;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 0 rgba(57, 48, 44, 0.1);
    box-sizing: border-box;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box img {
    height: 130px;
    object-fit: cover;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .mega-box img {
    height: 160px;
  }
}

.wrapper .close-btn {
  position: absolute;
  right: 30px;
  top: 1rem;
}

#menu-btn:checked ~ .nav-links {
  left: 0%;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}
#menu-btn:checked ~ .menu-btn {
  display: none;
}

#close-btn:checked ~ .menu-btn {
  display: block;
}

#showDrop:checked ~ .drop-menu,
#showMega:checked ~ .mega-box {
  max-height: 100%;
}

footer {
  grid-template-areas: "header" "link" "info" "newsletter" "copyright";
}
footer .footer__header {
  grid-area: header;
}
footer .footer__link {
  grid-area: link;
}
footer .footer__info {
  grid-area: info;
}
footer .footer__newsletter {
  grid-area: newsletter;
}
footer .footer__copyright {
  grid-area: copyright;
}
@media (min-width: 1024px) {
  footer .footer__copyright {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  footer {
    grid-template-areas: "header link info newsletter" "copyright copyright copyright copyright";
    grid-template-columns: 1fr 0.75fr 1fr 1fr;
  }
}

.accordion__item {
  border-bottom: 1px solid #C4C4C4;
  border-radius: 3px;
}
.accordion__item:last-child {
  border-bottom: none;
}
.accordion__item label {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  cursor: pointer;
}
.accordion__item .minus {
  display: none;
}
.accordion__item .accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.75s ease; /* Adjusted transition timing */
}
.accordion__item .accordion__content p {
  padding-bottom: 1rem;
}
.accordion__item input {
  position: absolute;
  top: 0;
  width: 0.1px;
  opacity: 0;
}
.accordion__item input:checked ~ .accordion__content {
  max-height: 100vh;
  opacity: 1;
}
.accordion__item input:checked + label div .minus {
  display: block;
}
.accordion__item input:checked + label div .plus {
  display: none;
}

.product__banner {
  height: 170px;
}
@media (min-width: 1024px) {
  .product__banner {
    height: 250px;
  }
}
@media (min-width: 1440px) {
  .product__banner {
    height: 400px;
  }
}
.product__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
}

.btn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  background: #39302C;
  border-radius: 8px;
  box-sizing: border-box;
  width: max-content;
  min-width: 100px;
  min-height: 46px;
  padding: 4px 16px;
  color: #FCFCFC;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
.btn--white {
  background-color: #FCFCFC;
  color: #222222;
  outline: 1px solid #222222;
}
.btn--circle {
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .btn {
    min-height: 44px;
    padding: 6px 20px;
  }
}

.chip {
  background: rgba(255, 189, 0, 0.3);
  padding: 10px 24px;
  border-radius: 8px;
  width: max-content;
  color: #FCFCFC;
  font-weight: 600;
  font-size: 0.75rem;
}
@media (min-width: 1024px) {
  .chip {
    font-size: 0.875rem;
  }
}

/*-------------------------------------------*\ 
Collection Card - Collection page
\*-------------------------------------------*/
.collection__card:hover p::before {
  content: "";
  width: 75%;
}

/*-------------------------------------------*\ 
Hotspot Card - Home Page
\*-------------------------------------------*/
.hotspot__card {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
@media (min-width: 1024px) {
  .hotspot__card {
    display: grid;
  }
}
.hotspot__card .btn {
  margin-left: auto;
}
@media (min-width: 1024px) {
  .hotspot__card .btn {
    display: none;
  }
}
.hotspot__img {
  height: 60px;
}
@media (min-width: 1024px) {
  .hotspot__img {
    height: 255px;
  }
}
@media (min-width: 1440px) {
  .hotspot__img {
    height: 390px;
  }
}

/*-------------------------------------------*\ 
Blog Card - Home Page
\*-------------------------------------------*/
.blog__card img {
  height: 250px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .blog__card img {
    height: 300px;
  }
}

.chips {
  border-radius: 12px;
  background: #39302C;
  width: max-content;
  padding: 2px 8px;
  color: #FAFAFA;
}
@media (min-width: 1024px) {
  .chips {
    padding: 6px 10px;
  }
}
.chips--red {
  background-color: #E21A3F;
}

.counter {
  display: grid;
  grid-template-columns: 24px 52px 24px;
  align-items: center;
  width: max-content;
  border-radius: 4px;
}
.counter img {
  width: 16px;
  margin: auto;
}
.counter input {
  outline: none;
  box-shadow: none;
  background: transparent;
  height: 36px;
}

.logo__carousel {
  display: flex;
  background-color: #39302C;
  padding: 1.5rem 0;
  overflow: hidden;
  white-space: nowrap;
}
.logo__carousel .logo__list {
  display: flex;
  align-items: center;
  animation: 25s logo-slide infinite linear;
}
.logo__carousel img {
  width: 130px;
  margin: 0 40px;
}

@keyframes logo-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.modal__wrapper {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(32, 31, 35, 0.7);
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.modal__wrapper.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.product--dots {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: grid;
  align-content: baseline;
  box-sizing: border-box;
  width: 90%;
  background-color: #FCFCFC;
  border-radius: 12px;
}
@media (min-width: 1024px) {
  .product--dots {
    width: 90%;
    max-width: 80rem;
    overflow: hidden;
    height: 40rem;
  }
}
@media (min-width: 1024px) {
  .product--dots--big {
    width: 450px;
  }
}

.quick-view__img {
  overflow: hidden; /* code added to prevent scroll */
  height: 100%;
}

.modal-product__info {
  position: relative; /* Ensure positioning context for sticky */
  overflow: auto;
  padding: 1rem 1rem 3rem 1rem;
  min-height: 100%; /* Ensure a minimum height */
}

.product-more {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
}

.modal-product__content {
  overflow: scroll;
  height: 100%;
}

.discount {
  color: #958F8F;
  text-decoration-line: line-through;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #F3F3F3;
  border-radius: 3px;
}
.progress-bar .progress-status {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #CFB885;
  border-radius: 3px;
}

.text-and-img__text {
  padding: 1.5rem 5%;
}
@media (min-width: 1024px) {
  .text-and-img__image {
    height: 500px;
  }
}

.underline-effect__text {
  position: relative;
  width: max-content;
}
.underline-effect__text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #CFB885;
  border-radius: 1px;
  transition: width 0.25s ease-out;
}
.underline-effect__text:hover::before {
  content: "";
  width: 75%;
}
.underline-effect__text.active::before {
  width: 75%;
}
.underline-effect__card p {
  position: relative;
  width: max-content;
}
.underline-effect__card p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #CFB885;
  border-radius: 1px;
  transition: width 0.25s ease-out;
}
.underline-effect__card:hover p::before {
  width: 75%;
}

.input-styled {
  position: relative;
  display: flex;
}
.input-styled input {
  position: absolute;
  top: 0;
  width: 0.1px;
  height: 0.1px;
}
.input-styled__circle label {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #CFB885;
  cursor: pointer;
}
.input-styled__circle input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  outline: 1px solid #222222;
}
.input-styled__circle:nth-child(2) label {
  background-color: #C4C4C4;
}
.input-styled__square label {
  outline: 1px solid #C4C4C4;
  padding: 10px 16px;
  cursor: pointer;
}
.input-styled__square input[type=radio]:checked + label {
  outline: 2px solid #CFB885;
}

.rg-8px {
  row-gap: 8px;
}

.rg-10px {
  row-gap: 10px;
}

.rg-16px {
  row-gap: 1rem;
}

.rg-18px {
  row-gap: 1.25rem;
}

.rg-24px {
  row-gap: 1.5rem;
}

.rg-32px {
  row-gap: 2rem;
}

@media (min-width: 1024px) {
  .rg-lg-32px {
    row-gap: 2rem;
  }
}

.rg-84px {
  row-gap: 5.25rem;
}

.rg-dynamic {
  row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .rg-dynamic {
    row-gap: 3rem;
  }
}

.cg-4px {
  column-gap: 4px;
}

.cg-8px {
  column-gap: 8px;
}

.cg-10px {
  column-gap: 10px;
}

.cg-16px {
  column-gap: 1rem;
}

.cg-24px {
  column-gap: 1.5rem;
}

.cg-32px {
  column-gap: 2rem;
}

.cg-sm-16px {
  column-gap: 1rem;
}

@media (min-width: 1024px) {
  .cg-lg-32px {
    column-gap: 2rem;
  }
}

.order-sm-1-lg-2 {
  order: 1;
}
@media (min-width: 1024px) {
  .order-sm-1-lg-2 {
    order: 2;
  }
}

.order-sm-2-lg-1 {
  order: 2;
}
@media (min-width: 1024px) {
  .order-sm-2-lg-1 {
    order: 1;
  }
}

.cols-sm-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .cols-lg-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cols-lg-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cols-lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cols-lg-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

/*-------------------------------------------*\ 
Banner
\*-------------------------------------------*/
.banner__section {
  min-height: 360px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1024px) {
  .banner__section {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: start;
  }
}
.banner-img {
  background-color: #FCFBF9;
  box-shadow: 0px 4px 4px rgba(178, 169, 162, 0.25);
}
.banner-img__1 {
  height: 150px;
  width: 110px;
}
.banner-img__2 {
  height: 140px;
  width: 105px;
}
.banner-img__3 {
  height: 180px;
  width: 135px;
}
.banner-img__4 {
  height: 140px;
  width: 160px;
}
.banner-img__5 {
  width: 54px;
  height: 54px;
}

/*-------------------------------------------*\ 
About
\*-------------------------------------------*/
.about__section {
  min-height: 475px;
  overflow: hidden;
}
.about-title {
  font-family: "Prata", serif;
  font-size: 5.25rem;
  line-height: normal;
  color: rgba(0, 0, 0, 0.2);
}
@media (min-width: 1024px) {
  .about-title {
    font-size: 6.25rem;
  }
}

/*-------------------------------------------*\ 
Collection
\*-------------------------------------------*/
.collection-home__section {
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
}
.collection-home__item img {
  height: 160px;
  object-fit: cover;
}

/*-------------------------------------------*\ 
Trust
\*-------------------------------------------*/
.trust__section {
  display: grid;
  row-gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  grid-template-areas: "header" "img" "left" "right";
}
@media (min-width: 1024px) {
  .trust__section {
    grid-template-areas: "header" "img" "left" "right";
    row-gap: 2rem;
    column-gap: 5%;
    align-items: center;
  }
}
.trust__header {
  grid-area: header;
}
.trust__left {
  grid-area: left;
}
.trust__right {
  grid-area: right;
}
.trust__img {
  grid-area: img;
}
@media (min-width: 1024px) {
  .trust__img {
    height: 450px;
  }
}

/*-------------------------------------------*\ 
Video
\*-------------------------------------------*/
.video__section {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 530px;
}
@media (min-width: 1024px) {
  .video__section {
    min-height: 450px;
  }
}

/*-------------------------------------------*\ 
Featured
\*-------------------------------------------*/
.featured__section {
  position: relative;
  display: grid;
  grid-template-areas: "title" "main" "product-list";
}
@media (min-width: 1024px) {
  .featured__section {
    grid-template-areas: "title title" "main product-list";
    grid-template-columns: 1fr 2fr;
    column-gap: 3%;
  }
}
.featured__main {
  grid-area: main;
}
.featured__title {
  grid-area: title;
}
.featured__wrapper {
  grid-area: product-list;
}
@media (min-width: 1024px) {
  .featured__content {
    position: sticky;
    top: 0;
  }
}
.featured__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(239, 229, 219, 0.5);
  padding: 1rem;
}

/*-------------------------------------------*\ 
Testimonials
\*-------------------------------------------*/
.testimonials__section {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.testimonials__section .splide__track {
  margin-bottom: 2rem;
}
.testimonials__header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonials-progress__wrapper {
  width: 40%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .testimonials-progress__wrapper {
    width: 20%;
  }
}

.testimonials-slider-progress {
  background: #F3F3F3;
}

.testimonials-slider-progress-bar {
  background: #CFB885;
  height: 6px;
  transition: width 400ms ease;
  width: 0;
}

/*-------------------------------------------*\ 
Hotspot
\*-------------------------------------------*/
.hotspot__section {
  display: grid;
  row-gap: 2rem;
  grid-template-areas: "header" "banner" "card";
  padding-top: 3rem;
  padding-bottom: 2rem;
}
@media (min-width: 1024px) {
  .hotspot__section {
    grid-template-areas: "banner header" "banner card";
    grid-template-columns: 5fr 3fr;
    column-gap: 3%;
    align-items: start;
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }
}
@media (min-width: 1440px) {
  .hotspot__section {
    grid-template-columns: 6.5fr 2.5fr;
  }
}
.hotspot__header {
  grid-area: header;
}
.hotspot__header * {
  text-align: center;
}
.hotspot__banner {
  grid-area: banner;
  height: 235px;
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .hotspot__banner {
    height: 500px;
  }
}
@media (min-width: 1440px) {
  .hotspot__banner {
    height: 625px;
  }
}
.hotspot__card {
  grid-area: card;
}

.collection__wrapper {
  display: grid;
  row-gap: 4rem;
}
@media (min-width: 1024px) {
  .collection__wrapper {
    row-gap: 6rem;
  }
}
.collection__item {
  background: #FAFAFA;
  padding: 1rem;
  box-sizing: border-box;
}
.collection__item img {
  display: flex;
  margin: auto;
  object-fit: contain;
  height: 150px;
}
@media (min-width: 1024px) {
  .collection__item img {
    height: 270px;
  }
}

.product-list__section {
  display: grid;
  row-gap: 2rem;
}
.product-list__wrapper {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .product-list__wrapper {
    grid-template-columns: 1.5fr 7.5fr;
    align-items: start;
    cursor: pointer;
  }
}
.product-list__left {
  display: grid;
}
@media (min-width: 1024px) {
  .product-list__left {
    position: sticky;
    top: 0;
    display: grid;
    row-gap: 32px;
  }
}
.product-list__left a {
  position: relative;
  width: max-content;
}

.product__img {
  position: relative;
  background-color: #FAFAFA;
  border-radius: 8px;
  height: 175px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .product__img {
    height: 315px;
  }
}
.product__img .chips {
  position: absolute;
  right: 10px;
  top: 10px;
}
@media (min-width: 1024px) {
  .product__img--home {
    height: 280px;
  }
}
@media (min-width: 1440px) {
  .product__img--home {
    height: 315px;
  }
}

.product-more {
  backdrop-filter: blur(12px);
}

.product__section {
  display: grid;
  row-gap: 1.5rem;
  grid-template-areas: "gallery" "info" "description";
}
@media (min-width: 1024px) {
  .product__section {
    grid-template-areas: "gallery info" "description .";
    grid-template-columns: 5fr 4fr;
    column-gap: 2rem;
    align-items: start;
  }
}
.product__description {
  grid-area: description;
}
.product__info {
  grid-area: info;
  animation: fade-in 0.2s ease-in;
}
.product__info hr {
  border: 1px solid #958F8F;
}
@media (min-width: 1024px) {
  .product__info {
    position: sticky;
    top: calc(80px + 1rem);
  }
}
.product__info--modal {
  position: sticky;
  top: 3rem;
  animation: fade-top-in 0.8s cubic-bezier(0.29, 0.47, 0.28, 0.95) forwards;
}

.product-gallery {
  grid-area: gallery;
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .product-gallery {
    grid-template-columns: 1fr 4fr;
    column-gap: 1rem;
    align-items: start;
  }
}

#product-gallery__image-list .splide__slide {
  height: 280px !important;
}
@media (min-width: 1024px) {
  #product-gallery__image-list .splide__slide {
    height: 510px !important;
  }
}
@media (min-width: 1024px) {
  #product-gallery__image-list .splide__list {
    display: grid;
    row-gap: 1.5rem;
  }
}

.product-single__thumbnails {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}
@media (min-width: 1024px) {
  .product-single__thumbnails {
    position: sticky;
    top: calc(80px + 1rem);
    display: grid;
    row-gap: 1rem;
  }
}
.product-single__thumbnails-item {
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .product-single__thumbnails-item {
    width: 100% !important;
    height: 104px !important;
  }
}
.product-single__thumbnails-item.is-active {
  outline: 2px solid #39302C;
}

.cart__section {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-areas: "title" "list" "summary";
  padding-bottom: 2rem;
}
.cart__section h1 {
  grid-area: title;
}
.cart__section .cart__list {
  grid-area: list;
}
@media (min-width: 1024px) {
  .cart__section .cart__list {
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    overflow: hidden;
  }
}
.cart__section .cart__summary {
  grid-area: summary;
}
@media (min-width: 1024px) {
  .cart__section {
    grid-template-areas: "title title" "list summary";
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    padding-bottom: 4rem;
  }
}
.cart__header {
  display: none;
}
@media (min-width: 1024px) {
  .cart__header {
    display: grid;
    grid-template-columns: 100px 2.5fr 1fr 1fr;
    background-color: #EFE5DB;
    padding: 1rem;
  }
}
.cart__item {
  display: grid;
  grid-template-areas: "image title" "image info" "image qty" "iamge subtotal";
  row-gap: 8px;
  column-gap: 8px;
  border-bottom: 1px solid #C4C4C4;
  padding: 1.5rem 0;
}
@media (min-width: 1024px) {
  .cart__item {
    grid-template-areas: "image title qty subtotal" "image info qty subtotal" "image info qty subtotal";
    align-items: start;
    padding: 1.5rem 1rem;
    grid-template-columns: 100px 2.5fr 1fr 1fr;
  }
}
.cart__item .product-img {
  grid-area: image;
  background-color: #FCFBF9;
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.cart__item .product-title {
  grid-area: title;
}
.cart__item .product__info {
  grid-area: info;
}
.cart__item .product-price {
  grid-area: price;
}
.cart__item .product-subtotal {
  grid-area: subtotal;
}
@media (min-width: 1024px) {
  .cart__item .product-subtotal {
    text-align: right;
  }
}
.cart__item .counter__wrapper {
  grid-area: qty;
  justify-content: space-between;
}
.cart__item .counter__wrapper .counter {
  outline: 1px solid #958F8F;
}

.about__item {
  display: grid;
  row-gap: 16px;
  padding: 2.25rem 0;
}
@media (min-width: 1024px) {
  .about__item {
    grid-template-columns: 5fr 4fr;
    align-items: center;
    column-gap: 3rem;
  }
}
.about__item:last-child {
  padding-bottom: 4.5rem;
}
@media (min-width: 1024px) {
  .about__item--dynamic {
    grid-template-columns: 4fr 5fr;
  }
}
@media (min-width: 1024px) {
  .about__img {
    height: 425px;
  }
  .about__img img {
    height: 100%;
    object-fit: cover;
  }
}

.faq__wrapper {
  display: grid;
  row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .faq__wrapper {
    grid-template-columns: 2fr 1fr;
    column-gap: 1.5rem;
    align-items: start;
  }
}
.faq__form {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .faq__form {
    position: sticky;
    top: 0;
  }
}

.contact-us__wrapper {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .contact-us__wrapper {
    grid-template-columns: 4fr 5fr;
    column-gap: 1.5rem;
    align-items: start;
  }
}
.contact-us__form {
  display: grid;
  row-gap: 1rem;
  grid-template-areas: "name" "email" "message" "button" "text";
}
.contact-us__form .name {
  grid-area: name;
}
.contact-us__form .email {
  grid-area: email;
}
.contact-us__form .message {
  grid-area: message;
}
.contact-us__form .btn {
  grid-area: button;
}
.contact-us__form .text {
  grid-area: text;
}
@media (min-width: 1024px) {
  .contact-us__form {
    grid-template-areas: "name email" "message message" "button button" "text text";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
