$linear-gradient: linear-gradient(180deg, #27C3D7 0%, #1E2794 100%);

$white: #FCFCFC;

$purple-50: #6831E1;
$purple-100: #05010C;
$purple-200: #0B021C;
$gold: #CFB885;
$cream-2: #F7F4F2;
$grey-2: #FAFAFA;
$grey-1: #FCFBF9;
$grey-4: #C4C4C4;
$black-1: #39302C;
$light-dark: #958F8F;