.accordion__item {
	position: relative;

	border-bottom: 1px solid $grey-4;
	border-radius: 3px;

	&:last-child {
		border-bottom: none;
	}

	label {
		position: relative;

		display: flex;
		justify-content: space-between;

		// background-color: $white;
		padding-block: 1rem;

		cursor: pointer;
	}
	.minus {
		display: none;
	}

	.accordion__content {
		// max-height: 0;

		// opacity: 0;
		// overflow: hidden;
		display: none;
		// transition: all 0.75s ease; /* Adjusted transition timing */
		
		p { 
			padding-bottom: 1rem;
		}
	}

	input[type="radio"] {
		position: absolute;
		top: 0;
		width: 0.1px;
		opacity: 0;
	}

	input:checked + label + .accordion__content {
		display: block;
		opacity: 1;
	}

	input:checked + label div {
		.minus {display: block;}
		.plus { display: none;}
	}
}