button {
  border: none;
}

.btn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  background: $black-2;
  border-radius: 8px;
  box-sizing: border-box;
  width: max-content;
  min-width: 100px;
  min-height: 38px;
  padding: 4px 16px;

  color: $white;
  outline: none;
  cursor: pointer;
  &--circle {
    border-radius: 20px;
  }

  @include desktop-up {
    min-height: 44px;
    padding: 6px 20px;
  }
}

.chip {
  background: rgba(255, 189, 0, 0.30);
  padding: 10px 24px;
  border-radius: 8px;
  width: max-content;

  color: $white;
  font-weight: 600;
  @include font-size(0.75rem, 0.875rem); //12px, 14px

}