button {
  border: none;
}

.btn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  box-sizing: border-box;
  width: max-content;
  min-width: 120px;
  min-height: 36px;
  padding: 8px 20px;
  outline: none;
  
  cursor: pointer;

  background: $linear-gradient;
}

.chip {
  background: rgba(255, 189, 0, 0.30);
  padding: 10px 24px;
  border-radius: 8px;
  width: max-content;

  color: $white-50;
  font-weight: 600;
  @include font-size(0.75rem, 0.875rem); //12px, 14px

}