/*-------------------------------------------*\ 
Collection Card - Collection page
\*-------------------------------------------*/
.collection__card {
	&:hover p::before {
		content: '';
		width: 75%;
	}
}
/*-------------------------------------------*\ 
Hotspot Card - Home Page
\*-------------------------------------------*/
.hotspot {
	&__card {
		display: flex;
		align-items: center;
		column-gap: 8px;
		
		@include desktop-up {
			display: grid;
		}

		.btn {
			margin-left: auto;
			@include desktop-up {
				display: none;
			}
		}
	}

	&__img {
		height: 60px;
		
		@include desktop-up {
			height: 255px;
		}
		@include monitor-up {
			height: 390px;
		}
	}
}

/*-------------------------------------------*\ 
Blog Card - Home Page
\*-------------------------------------------*/
.blog__card {
	img {
		height: 250px;
		object-fit: cover;

		@include desktop-up {
			height: 300px;
		}
	}
}