.chips {
  border-radius: 12px;
  background: $black-2;
  width: max-content;
  padding: 2px 8px;

  color: $grey-2;

  @include desktop-up {
    padding: 6px 10px;
  }
  &--red {
    background-color: $red-1;
  }
}