.counter {
	display: grid;
	grid-template-columns: 24px 52px 24px;
	align-items: center;

	width: max-content;
	outline: 1px solid $light-dark;
	border-radius: 4px;
	img {
		width: 16px;
		margin: auto;
	}

	input {
		outline: none;
		box-shadow: none;
    background: transparent;
		height: 36px;
	}
}