footer {
	.footer__header { grid-area: header; }
	.footer__link { grid-area: link; }
	.footer__info { grid-area: info; }
	.footer__newsletter { grid-area: newsletter; }
	.footer__copyright { grid-area: copyright; @include desktop-up { text-align: center; }}

	grid-template-areas:
	'header'
	'link'
	'info'
	'newsletter'
	'copyright';

	@include desktop-up {
		grid-template-areas: 
		'header link info newsletter'
		'copyright copyright copyright copyright';
		grid-template-columns: 1fr 0.75fr 1fr 1fr;
	}
}