.logo__carousel {

	display: flex;
	background-color: $black-2;
	padding: 1.5rem 0;

	overflow: hidden;
	white-space: nowrap;

	.logo__list {
		display: flex;
		align-items: center;
		
		animation: 25s logo-slide infinite linear;
	}

	img {
		width: 130px;
		margin: 0 40px;
	}
}

@keyframes logo-slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: (translateX(-100%));
	}
}