.modal__wrapper {
	position: fixed;
	z-index: 1;
	overflow: hidden;
	background-color: rgba(32, 31, 35, 0.7);
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	opacity: 0;
	// width: 100%;
	// height: 100%;
	// opacity: 1;
	transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
	&.visible {
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: opacity 0.15s ease-out;
	}
}

.modal__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	align-content: baseline;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
  overflow: hidden;
	background-color: $white;
	max-height: unset;

	z-index: 2;

	@include desktop-up {
		height: max-content;
		max-height: 90%;
		width: 450px;
		border-radius: 12px;
	}
}