nav {
	position: sticky;
	z-index: 2;
	top: 0;
	width: 100%;
	background-color: $white;
	box-shadow: 0px 2px 0 rgba($color: $black-2, $alpha: .1);
}

.nav__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  line-height: 70px;
  margin: auto;

  .nav-links {

    position: fixed;
    top: 0;
    left: -100%;
      
    background: $white;
    box-sizing: border-box;
    height: 100vh;
    min-width: 100%;
    max-width: 350px;
    padding: 2.5rem 1rem;

    overflow-y: auto;
    transition: all 0.3s ease;

  
    @include desktop-up {
      position: unset;
        
      background: $white;
      box-sizing: border-box;
      height: unset;
      min-width: unset;
      max-width: unset;
      padding: 0;

      overflow-y: unset;

      display: inline-flex;
    }
  }
}

.nav-links > li > a, .nav-links span {
  display: block;

  padding: 0.5rem 0;
  border-bottom: 1px solid $black-1;
  @include desktop-up {
    padding: 1rem;
    border-bottom: none;

  }
}

.nav-links .mobile-item {
  display: block;

  padding: 0.75rem 0;
  border-bottom: 1px solid $black-1;
  transition: all 0.3s ease;
}

.nav-links .drop-menu {
    position: static;

    width: 100%;
    box-sizing: border-box;
    max-height: 0px;
    
    visibility: visible;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;

  @include desktop-up {
    position: absolute;

    background: $white;
    width: 180px;
    max-height: unset;

    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }

  a {
    display: block;
    padding: 1rem;
  }
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box,
#showSearch:checked ~ .search-box {
  transition: all 0.3s ease;
  top: 65px;
  opacity: 1;
  visibility: visible;
}

.mega-box {
  @include mobile {
    display: grid;
    row-gap: 1.5rem;

    padding: 0 20px;
    max-height: 0px;
    box-sizing: border-box;

    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all 0.3s ease;
    
  }

  @include desktop-up {
    position: absolute;
    left: 0;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    align-items: start;

    padding-block: 1.5rem;
    background-color: $white;
    box-shadow: 0px 2px 0 rgba($color: $black-2, $alpha: .1);
    box-sizing: border-box;
    
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    img {
      height: 130px;
      @include monitor-up {
        height: 160px;
      }

      object-fit: cover;
    }
  }
}

// Search and it's content
.search-box {
  position: absolute;
  left: 0;
  max-height: 90vh;
  
  box-sizing: border-box;
  box-shadow: 0px 2px 0 rgba($color: $black-2, $alpha: .1);
  background-color: $white;
  width: 100%;
  padding-block: 1.875rem;
  overflow: auto;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  @include desktop-up {
    max-height: 35rem;
  }

  input {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
    border-radius: 0;
    border-bottom: 1px solid $grey-4;
  }
}

.search-default {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1rem;
  &__img {
    height: 130px;
  }

  & > p {
    grid-column: 1/3;
    @include desktop-up {
      grid-column: 1/6;
    }
  }
}

.wrapper .close-btn { // The close button
  position: absolute;
  right: 30px;
  top: 1rem;

}

#menu-btn:checked {
 & ~ .nav-links {
    left: 0%;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);

  }

 & ~ .menu-btn {
    display: none;
  }
}

#close-btn:checked ~ .menu-btn {
  display: block;
}

#showDrop:checked ~ .drop-menu,
#showMega:checked ~ .mega-box {
  max-height: 100%;
}