.product-card {
  position: relative;
}

.product-card:hover .btn {
  display: flex;
}

.product-secondary__img {
  display: none;
  @include desktop-up {
    position: absolute;
    top: 0;
    left: 0;
    
    display: block;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
  }
}

.product-card:hover .product__img .product-secondary__img {
  opacity: 1;
}

.product-card:hover .btn, .hotspot-card:hover .btn {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.product-card:hover .product__img .product-first__img {
  // display: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.product__img {
  position: relative;
  display: block;

  background-color: $grey-2;
  border-radius: 8px;
  height: 175px;

  overflow: hidden;
  
  @include desktop-up {
    height: 315px;
  }

  .chips {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &--home {
    @include desktop-up {
      height: 280px;
    }

    @include monitor-up {
      height: 315px;
    }
  }

  &--kit {
    height: 285px;
  }
}

.product-card, .hotspot-card {
  .btn {

    @include desktop-up {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      
      display: flex;
      width: calc(100% - 2rem);
  
      opacity: 0;
      transition: opacity 0.25 ease-in-out;
    }
  }
}

.product-card .btn {
  display: none; // So the customer won't press the button on mobile
}